.wrapper {
  text-align: right;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  /* border: 1px solid red; */
}

.wrapper p {
  margin: 0;
  font-size: 14px;
}
