/* add css module styles here (optional) */

/* .test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
} */

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  /* border: 3px solid red; */
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin: 20px 0 0 20px;
}

.wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.leftClick {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  color: white;
  border: 3px solid yellow;
  display: grid;
  place-items: center;
}

.leftClick:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.rightClick {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid yellow;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  color: white;
  display: grid;
  place-items: center;
}

.rightClick:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.button {
  width: 50px;
  height: 50px;
}

.description {
  padding: 20px 0;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  /* border: 1px solid red; */
}

.dots {
  width: 100%;
  display: flex;
  /* border: 1px solid green; */
  justify-content: center;
  padding: 20px 0;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  border-radius: 50%;
  margin: 0 10px;
}

.dot:hover {
  cursor: pointer;
  background-color: rgb(76, 171, 202);
}

.activeDot {
  width: 20px;
  height: 20px;
  background-color: rgb(76, 171, 202);
  border-radius: 50%;
  margin: 0 10px;
}

.activeDot:hover {
  cursor: pointer;
}
