.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.button {
  width: 40px;
  height: 40px;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.leftClick {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: 20px;
  color: white;
  display: grid;
  place-items: center;
  transition: transform 0.2s;
}

.leftClick:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rightClick {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  right: 20px;
  color: white;
  display: grid;
  place-items: center;
  transition: transform 0.2s;
}

.rightClick:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: lightblue;
  border-radius: 50%;
  margin: 0 10px;
}

.dot:hover {
  cursor: pointer;
  background-color: rgb(76, 171, 202);
}

.activeDot {
  width: 15px;
  height: 15px;
  background-color: rgb(76, 171, 202);
  border-radius: 50%;
  margin: 0 10px;
}

.activeDot:hover {
  cursor: pointer;
}
